*{
    padding: 0;
    margin: 0;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
body, html{
    display: flex;
    background-color: #e2e2e2;
    height: 100vh;
    width: 100vw;
}

/* CONTEÚDO */
#dados{
    border: 2px solid #b4b4b4;
    border-radius: 20px;
    padding: 15px;
    background-color: white;
}

h1{
    text-align: center;
}
li{
    list-style: none;
    font-size: 1.3em;
}